#cards{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:28px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width:780px;
    height:753px;
    
    margin :10px auto 80px auto;
    
    
    
}
.card{
    display:flex;
    flex-direction:column;
    box-shadow:2px 2px 2px 2px lightgrey;
    border-radius:5px;
    background:white;
    position:relative;
    padding:0px;
    width:251px;
    height:281px;


}

.images{
    height:100%;
    width:99%;
    margin:auto;
    margin-top:3px;
    border-radius:5px;
    filter:brightness(55%);
    
}

.title{
    position:absolute;
    bottom:8px;
    left:24px;
    
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font:bold;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    width: 203px;
    height: 64px;
}
